<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="com.example.demo.mapper.EmployeesMapper">

	<select id="searchEmployees" parameterType="map" resultType="Employee">
		select *
		from employees
		<where>
			<if test="opt != null and keyword != null">
				<choose>
					<when test="opt == '아이디'">
						employee_id = #{keyword}
					</when>
					<when test="opt == '이름'">
						first_name like '%' || #{keyword} || '%'
					</when>
					<when test="opt == '직종'">
						job_id like '%' || #{keyword} || '%'
					</when>
					<when test="opt == '부서아이디'">
						department_id = #{keyword}
					</when>
					<when test="opt == '급여'">
						salary = #{keyword}
					</when>
					<when test="opt == '관리자아이디'">
						manager_id = #{keyword}
					</when>
				</choose>
			</if>
		</where>
	</select>

</mapper>