<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div><label for="">x : </label><input type="text" v-model="x"></div>  
    <div><label for="">y : </label><input type="text" v-model="y"></div>  
    <div>Result : <span v-text="result"></span></div>  
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    function isNotNumeric(value) {
      return isNaN(value) || !isFinite(value);
    }

    new Vue({
      el: "#app",
      data: {
        x:0,
        y:0
      },
      computed: {
        result: function() {
          let x = parseFloat(this.x);
          if (isNotNumeric(x)) {
            return 0;
          }
          let y = parseFloat(this.y);
          if (isNotNumeric(y)) {
            return 0;
          }
          return x + y;
        }
      }
    })
  </script>
</body>
</html>