<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>공지사항</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div id="app">
                <div class="page-header">
                    <!-- 
                        이중괄호는 Vue 인스턴스의 데이터모델에 저장된 값을 표현한다.
                     -->
                    <h1>{{headerTitle}} <button class="btn btn-default pull-right" @click="openModal()" v-bind:disabled="addDisabled">공지사항 등록</button></h1>
                </div>

                <!-- 
                    공지사항를 표시할 템플릿 시작
                 -->
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table">
                            <colgroup>
                                <col style="width: 10%;">
                                <col style="width: 25%;">
                                <col style="width: 45%;">
                                <col style="width: 10%;">
                                <col style="width: 10%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>순번</th>
                                    <th>제목</th>
                                    <th>내용</th>
                                    <th>작성자</th>
                                    <th>작성일</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--
                                    v-for는 vue.js에 내장된 지시어다.
                                    v-for는 배열의 각 요소를 반복하는 지시어다.
                                    v-for의 구문은 v-for="(별칭, 인덱스) in 배열"의 형식으로 작성한다.
                                    v-for는 배열의 요소만큼 해당 태그를 생성한다.
                                    별칭에는 배열의 각 요소가 순서대로 저장된다.
                                -->
                                <tr v-for="(notice, index) in notices" v-bind:key="notice.no">       
                                    <td>{{index + 1}}</td>
                                    <td>{{notice.title}}</td>
                                    <td>{{notice.content}}</td>
                                    <td>{{notice.writer}}</td>
                                    <td>{{dateToString(notice.createDate)}}</td>
                                    <td><button class="btn btn-danger btn-xs" @click="deleteNotice(index)">삭제</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 
                    공지사항를 표시할 템플릿 끝
                 -->

                <!-- 
                    공지사항 입력 모달
                 -->
                <div id="modal-notice-form" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">공지사항</h4>
                            </div>
                            <div class="modal-body">
                                <p>새로운 공지사항을 등록하세요</p>
                                <form class="well">
                                    <div class="form-group">
                                        <label>제목</label>
                                        <!-- 
                                            v-model은 Vue.js의 내장 지시어다.
                                            Vue 인스턴스의 data 객체의 프로퍼티와 양방향 매핑을 지원하는 지시어다.
                                         -->
                                        <input type="text" class="form-control" v-model="title"/>
                                    </div>
                                    <div class="form-group">
                                        <label>작성자</label>
                                        <input type="text" class="form-control" v-model="writer"/>
                                    </div>
                                    <div class="form-group">
                                        <label>내용</label>
                                        <textarea class="form-control" rows="3" v-model="content"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                                <button type="button" class="btn btn-primary" @click="addNotice(title, writer, content)">등록</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
        <script>
            let vm = new Vue({                  // Vue 인스턴스를 생성한다. 옵션객체를 Vue의 생성자 함수에 전달한다.
                el: "#app",                     // el 프로퍼티를 이용해 Vue.js 애플리케이션을 적용할 엘리먼트를 지정한다. 값은 CSS 선택자를 활용한다.

                data: {                         // data 프로퍼티는 애플리케이션의 데이터 모델을 정의한다, 데이터모델에 저장된 값은 {{}} 표현식을 사용해서 템플릿에 표현할 수 있다.
                    headerTitle: "공지사항 프로그램",
                    notices: [
                        {title:'임시 휴일 공지', content:'2월 28일을 임시 휴일로 지정합니다.', writer:'관리자', createDate: new Date()},
                        {title:'인사팀 회식 공지', content:'회사근처 부대찌개 집에 6시까지 모여주세요.', writer:'관리자', createDate: new Date()}
                    ],
                    title:'',   // 공지사항 입력폼의 input박스와 양방향 매핑되는 프로퍼티다. 
                    writer:'',  // 공지사항 입력폼의 input박스와 양방향 매핑되는 프로퍼티다.
                    content:''  // 공지사항 입력폼의 input박스와 양방향 매핑되는 프로퍼티다.
                },

                methods: {                                              // Vue 애플리케이션에서 사용할 메소드를 정의합니다. 이중괄호내에서도 사용가능합니다.
                    dateToString: function(date) {                      // 날짜를 년.월.일 형식으로 반환한다.
                        if (!date) {
                            return "";
                        }
                        return new Date(date).toLocaleDateString();
                    },
                    openModal: function() {                             // 공지사항 입력모달을 표시한다.
                        $("#modal-notice-form").modal('show');
                    },
                    addNotice: function(title, writer, content) {       // 새로운 공지사항을 추가한다.
                        // View 인스턴스 내에서는 this 키워드를 사용해서 Vue 인스턴스의 프로퍼티 및 메소드를 사용할 수 있다.
                        // 데이터모델의 notices 배열에 새로운 공지사항을 추가한다.

                        this.notices.push({no:new Date().getTime(), title: title, writer: writer, content: content, createDate: new Date()});
                        $("#modal-notice-form").modal('hide');
                        
                        // 데이터모델의 title, writer, content 값을 공백으로 설정한다.
                        this.title = "";
                        this.writer = "";
                        this.content = "";
                    },
                    deleteNotice: function(index) {                     // 배열에서 지정된 인덱스에 위치한 공지사항을 삭제한다.
                        this.notices.splice(index, 1);
                    }
                },
                computed: {
                    addDisabled: function() {
                        return this.notices.length >= 5;
                    }
                }
            });          
        </script>
    </body>
</html>

