<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
  <title>Vue 인스턴스</title>
</head>
<body>
<div class="container" id="app">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark my-3">
    <a class="navbar-brand" href="#">{{sitename}}</a>
    <button type="button" 
      class="btn btn-primary ml-auto"
      @click="showCheckOut">
      <span class="navbar-text text-white fas fa-cart-arrow-down"> {{cartItemCount}}개</span>
      <span>체크아웃</span>
    </button>
  </nav>
  <div class="row" v-if="showProduct">
    <div class="col-4">
      <div class="card">
        <div class="card-header">{{product.id}}번 상품</div>
        <div class="card-body">
          <h4 class="card-title">{{product.title}}</h4>
          <div class="card-text" v-html="product.description"></div>
          <div class="card-text">{{product.price | formatPrice}} 원</div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" 
            v-on:click="addToCart"
            v-bind:disabled="canAddToCart">장바구니 담기</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" v-else>
    <div class="col-12">
      <div class="card">
        <div class="card-header">애완용품샵 체크아웃</div>
        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="fomr-group col-6">
                <label>이름</label>
                <input type="text" class="form-control" v-model.lazy="order.firstName" />
              </div>
              <div class="fomr-group col-6">
                <label>성</label>
                <input type="text" class="form-control" v-model="order.lastName" />
              </div>
            </div>
            <div class="form-row mt-2">
              <div class="fomr-group col-12">
                <label>주소</label>
                <input type="text" class="form-control" v-model.trim="order.address" />
              </div>
            </div>
            <div class="form-row mt-2">
              <div class="fomr-group col-12">
                <label>도시</label>
                <input type="text" class="form-control" v-model="order.city" />
              </div>
            </div>
            <div class="form-row mt-2">
              <div class="fomr-group col-3">
                <label>주</label>
                <select class="form-control" v-model="order.state">
                  <option value="" disabled> 선택하세요</option>
                  <option v-for="state in states" v-bind:value="state.code"> {{state.name}}</option>
                </select>
              </div>    
              <div class="fomr-group col-3 offset-3">
                <label>우편번호</label>
                <input type="text" class="form-control" v-model.number="order.zip" />
              </div>
            </div>
            <div class="form-row mt-2">
              <div class="form-group col-6">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" 
                    v-bind:true-value="order.sendGift" 
                    v-bind:false-value="order.dontSendGift"
                    v-model="order.gift">
                  <label class="form-check-label">선물 보내기?</label>
                </div>
              </div>
              <div class="form-group col-6">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" v-model="order.method" v-bind:value="order.home">
                  <label class="form-check-label">자택</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" v-model="order.method" v-bind:value="order.business">
                  <label class="form-check-label">직장</label>
                </div>
              </div>
            </div>
            <div class="form-row mt-2">
              <div class="form-group co-12 text-right">
                <button type="submit" class="btn btn-primary" v-on:click="submitForm">주문하기</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
  var APP_LOG_LIFECYCLE_EVENTS = false; // 콜백을 사용여부를 저장하는 변수

  new Vue({
    el: "#app",
    data: {
      sitename:"Vue.js 애완동물샵",
      showProduct: true,
      order: {
        firstName: '',
        lastName: '',
        address: '',
        city: '',
        state: '',
        zip: '',
        gift: '선물 보내기',  
        sendGift: '선물 보내기',            // 체크박스 v-bind:true-value="order.sendGift" 
        dontSendGift: '선물 보내지 않기',   // 체크박스 v-bind:false-value="order.dontSendGift"
        method: '자택',
        home: '자택', 
        business: '직장'
      },
      product: {
        id: 1001,
        title: "고양이 사료",
        description: "당신의 고양이를 위한 <em>거부할 수 없는</em>, 유기농 사료입니다.",
        price: 25000,
        availableInventory: 5
      },
      states: [{code:'AL', name:'Alabama'}, {code:'AR', name:'Arkansas'}, {code:'CA', name:'California'}],
      cart: []
    },
    methods: {
      // 장바구니 담기 버튼 클릭 이벤트 핸들러 메소드
      addToCart: function() {
        this.cart.push(this.product.id);
        this.product.availableInventory--;
      },
      showCheckOut: function() {
        this.showProduct = !this.showProduct;
      },
      submitForm: function() {
        alert("폼 제출하기");
      }
    },
    computed: {
      // 장바구니에 저장된 상품의 갯수를 반환하는 계산된 속성
      cartItemCount: function() {
        return this.cart.length;
      },
      // 장바구니 버튼의 활성화 여부를 반환하는 계산된 속성
      canAddToCart: function() {
        return !this.product.availableInventory;
      }
    },
    filters: {
      formatPrice: function(value) {
        if (isNaN(value)) {
          return value;
        }
        return new Number(value).toLocaleString();
      }
    },
    beforeCreate() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("beforeCreate");
      }
    },
    created() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("created");
      }
    },
    beforeMount() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("beforeMount");
      }
    },
    mounted() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("mounted");
      }
    },
    beforeUpdate() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("beforeUpdate");
      }
    },
    updated() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("updated");
      }
    },
    beforeDestroy() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("beforeDestroy");
      }
    },
    destroyed() {
      if (APP_LOG_LIFECYCLE_EVENTS) {
        console.log("destroyed");
      }
    },
  })
</script>
</body>
</html>