<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>양방향 데이터 바인딩</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>양방향 데이터 바인딩</h1>
            </div>
            <div id="app-1">
                <h3>보유 기술 추가</h3>
                <form class="form-inline">
                    <div class="forrm-group">
                        <label>보유 기술 : </label>
                        <!--
                            v-model은 Vue인스턴스의 data객체의 skillName과 양방향 데이터 바인딩을 지원한다.
                            data객체의 skillName값이 표현된다.
                            입력필드의 값이 변경되면 data객체의 skillName의 값도 변경된다.
                        -->
                        <input type="text" class="form-control" v-model="skillName">
                        <!--
                            버튼을 클릭하면 addSkill()이 실행된다.
                            addSkill()은 v-model의 입력값이 반영된 skillName의 현재값을 skills배열에 추가한다.
                        -->
                        <button type="button" class="btn btn-default" @click="addSkill()">추가하기</button>
                    </div>
                </form>

                <h3>보유기술 목록</h3>
                <ul class="list-group">
                    <li class="list-group-item" v-for="skill in skills">
                        {{ skill }}</li>
                </ul>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
        <script>
            new Vue({
                el:"#app-1",
                data: {
                    skillName:'',
                    skills:[]
                },
                methods: {
                    addSkill: function() {
                        // skillName의 현재값을 skills에 추가한다.
                        this.skills.push(this.skillName);
                        // skillName의 값을 지운다.
                        // 입력필드의 값도 클리어된다.
                        this.skillName = "";
                    }
                }
            });
        </script>
    </body>
</html>
<!--


-->
